#cribbage {
	padding-top: 60px;
}
.duration_btn {
	width: 100%;
}
#error {
	color: red;
}
#start_btn {
	width: 100%;
}
.hidden {
	visibility: hidden;
}
.gray {
	background-color: #F8F8F8;
}	
.white {
	background-color: #FFFFFF;
}
.gray .col-md-4 {
	opacity: 0.1;
}
#prompt {
	padding: 10px;
	border-radius: 10px; /* CSS3 Property */
	-moz-border-radius: 10px;  /* Firefox */
	-webkit-border-radius: 10px; /* Chrome/Safari */
	-khtml-border-radius: 10px; /* Linux browsers */
}
.card:hover {
	cursor: pointer;
}
.card {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: 10px; /* CSS3 Property */
	-moz-border-radius: 10px;  /* Firefox */
	-webkit-border-radius: 10px; /* Chrome/Safari */
	-khtml-border-radius: 10px; /* Linux browsers */
}
.S {
	color: black;
}
.H {
	color: red;
}
.C {
	color: black;
}
.D {
	color: red;
}
#player1_score span{
	padding-right: 5px;
}
#player2_score span{
	padding-right: 5px;
}